<!-- * ------------------------------------------------------------------------------------------ -->
<!-- * HELPER FUNCTION(S) -->
<!-- * ------------------------------------------------------------------------------------------ -->

<% function gameInfo(gameInfo, badges, title, score){ %>
<u><h4 class="mb-4"><%= title %></h4></u>
<% for( let i = 0; i < gameInfo.length; i++ ) { %>
<hr class="my-2" />
<div class="row">
	<!-- * Match Date -->
	<div class="col-6 text-right">
		<p><%= swapFixtureDateAround(gameInfo[i].dateEvent) %></p>
	</div>
	<div class="col-6 text-left">
		<p>KO: <%= gameInfo[i].strTime %></p>
	</div>
</div>

<!-- * Home team badge -->
<%= displayTeamBadge(badges[i].homeTeamData) %>

<!-- * Score or "VS" -->
<% if (score) { %>
<span class="mx-4"><%= results[i].intHomeScore %> - <%= results[i].intAwayScore %></span>
<% } else { %>
<span class="mx-4">vs</span>
<% } %>

<!-- * Away team badge -->
<%= displayTeamBadge(badges[i].awayTeamData) %>

<!-- * Competition -->
<p class="mt-2"><%= gameInfo[i].strLeague %></p>
<% } %> <% } %> <% function displayTeamBadge(teamData) { %> <% if ("name" in teamData) { %>
<a href="/teams/<%= teamData.id %> ">
	<img
		class="fixture-badges"
		src="<%= teamData.badge %>"
		alt=""
		data-toggle="tooltip"
		data-placement="top"
		title="<%= teamData.name %> "
	/>
</a>
<% } else { %>
<img class="fixture-badges" src="<%= teamData.badge %>" alt="" />
<% } %> <% } %>

<!-- * ------------------------------------------------------------------------------------------ -->

<!-- * ------------------------------------------------------------------------------------------ -->
<!-- * HTML -->
<!-- * ------------------------------------------------------------------------------------------ -->

<%- include (`../navbar.ejs`) %>

<div class="text-center container mb-5">
	<!-- * Flash message -->
	<p class="success fade-out" id="message"><%= successMessage %></p>

	<!-- * Name title -->
	<h1 class="mb-5 d-inline"><%= name %></h1>

	<!-- * Favourite button -->
	<% if (!isFav) { %>
	<form
		action="/favourites/<%= id %>/<%= type %>"
		method="POST"
		class="d-inline"
		id="favourite-icon"
	>
		<button type="submit" class="favourite-button">
			<i class="far fa-star fa-2x"></i>
		</button>
	</form>
	<% } else { %>
	<form
		action="/favourites/<%= id %>/deleteOnShow/<%= type %>?_method=DELETE"
		method="POST"
		class="d-inline"
		id="favourite-icon"
	>
		<button type="submit" class="favourite-button">
			<i class="fas fa-star fa-2x"></i>
		</button>
	</form>
	<% } %>

	<!-- * Social media icons -->
	<% if (facebookLink || twitterLink || instagramLink) { %>
	<div class="d-block mt-2">
		<% if (facebookLink) { %>
		<a href="https://<%= facebookLink %>" target="_blank"><i class="fab fa-facebook fa-lg"></i></a>
		<% } %> <% if (twitterLink) { %>
		<a href="https://<%= twitterLink %>" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
		<% } %> <% if (instagramLink) { %>
		<a href="https://<%= instagramLink %>" target="_blank"
			><i class="fab fa-instagram fa-lg"></i
		></a>
		<% } %>
	</div>
	<% } %>

	<hr class="my-3" />

	<div class="row mt-4">
		<!-- * Profile image -->
		<div class="col-9 col-md-7 col-lg-4 profile-img w-75 h-75 mb-3">
			<div>
				<img class="flag-bg-img img-responsive img-fluid" src="<%= countryFlag %> " alt="" />
				<img class="cutout img-responsive img-fluid" src="<%= img %>" alt="Player Cutout" />
			</div>
		</div>
		<!-- * Description -->
		<div class="col-12 col-md-12 col-lg-8 mb-3">
			<div class="scrollBox">
				<p class="text-left"><%= description %></p>
			</div>
		</div>
	</div>

	<div class="row mt-4">
		<!-- * Carousel images -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 slideshow w-100 h-100 mb-3">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<!-- TODO turn this into a for loop -->
					<% if (carouselImg1) { %>
					<div class="carousel-item active">
						<img class="d-block w-100" src="<%= carouselImg1 %>" alt="First slide" />
					</div>
					<% } %> <% if (carouselImg2) { %>
					<div class="carousel-item">
						<img class="d-block w-100" src="<%= carouselImg2 %>" alt="Second slide" />
					</div>
					<% } %> <% if (carouselImg3) { %>
					<div class="carousel-item">
						<img class="d-block w-100" src="<%= carouselImg3 %>" alt="Third slide" />
					</div>
					<% } %> <% if (carouselImg4) { %>
					<div class="carousel-item">
						<img class="d-block w-100" src="<%= carouselImg4 %>" alt="Third slide" />
					</div>
					<% } %> <% if (carouselImg5) { %>
					<div class="carousel-item">
						<img class="d-block w-100" src="<%= carouselImg5 %>" alt="Third slide" />
					</div>
					<% } %> <% if (carouselImg6) { %>
					<div class="carousel-item">
						<img class="d-block w-100" src="<%= carouselImg6 %>" alt="Third slide" />
					</div>
					<% } %>
				</div>
				<!-- * Carousel buttons -->
				<a
					class="carousel-control-prev"
					href="#carouselExampleControls"
					role="button"
					data-slide="prev"
				>
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a
					class="carousel-control-next"
					href="#carouselExampleControls"
					role="button"
					data-slide="next"
				>
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<!-- * Other images -->
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<u><p>Nation:</p></u>
			<img
				class="mb-4"
				src="<%= countryFlag %>"
				alt="flag"
				class="other-img-left"
				data-toggle="tooltip"
				data-placement="top"
				title="<%= otherImgLeftTooltip %> "
			/>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<u><p><%= otherImgRightTitle %></p></u>
			<% if (type === "player") { %> 
				<% if (link !== 'goToteam/null') { %>
					<a href="<%= link %>">
						<img
							src="<%= otherImgRight %>"
							alt=""
							class="other-img-right"
							data-toggle="tooltip"
							data-placement="top"
							title="<%= otherImgRightTooltip %> "
						/>
					</a>
			<% } else {%>
					<img
						src="<%= otherImgRight %>"
						alt=""
						class="other-img-right"
						data-toggle="tooltip"
						data-placement="top"
						title="<%= otherImgRightTooltip %> "
					/>
			<% } %> <% } else { %>
			<img
				src="<%= otherImgRight %>"
				alt=""
				class="other-img-right"
				data-toggle="tooltip"
				data-placement="top"
				title="<%= otherImgRightTooltip %> "
			/>
			<% } %>
		</div>
	</div>

	<hr class="my-5" />

	<!-- * Small data -->
	<div class="row small-data mb-5">
		<% for( let i = 0; i < smallData.length; i++ ) { %> <% if (!smallData[i].content) { %> <%
		smallData[i].content = "N/A"; %> <% } %>
		<div class="col-6 col-sm-4 col-md-3">
			<u
				><strong><p class="d-block"><%= smallData[i].title %></p></strong></u
			>
			<p class="d-block"><%= smallData[i].content %></p>
		</div>
		<% } %>
	</div>

	<!-- * Exclusive Team Data -->
	<!-- * Contains data such as fixtures, results and stadium info which a player does not have -->
	<% if (type === "team") { %>
	<hr class="mt-5 mb-3" />
	<!-- * Stadium Data -->
	<u><h4 class="mb-3">Stadium:</h4></u>
	<div class="row">
		<div class="col-xs-12 col-lg-4">
			<img src="<%= stadiumPic %> " alt="Stadium Picture" class="stadium-pic" />
		</div>
		<div class="col-lg-8 col-xs-12">
			<div class="scrollBox">
				<p class="text-left"><%= stadiumDescription %></p>
			</div>
		</div>
	</div>

	<hr class="my-5" />

	<!-- * Game info -->
	<div class="row">
		<div class="col-12 col-lg-6 mb-4">
			<!-- * Results -->
			<%= gameInfo(results, resultBadges, "Results", true) %>
		</div>
		<div class="col-12 col-lg-6 mb-3">
			<!-- * Fixtures -->
			<%= gameInfo(fixtures, fixtureBadges, "Fixtures") %>
		</div>
	</div>
	<% } %>
</div>
