<head>
  <link rel="stylesheet" href="/Stylesheets/CSS/favouriteCard.css">
</head>

<div class="card favourite">
    <!-- TODO Add secondary picture -->
    <% if (picture) { %>
      <img class="card-img-top img-responsive border border-secondary" src="<%= picture %>">
    <% } else {%>
      <img class="card-img-top img-responsive border border-secondary" src="<%= backupPicture %>">
    <% } %> 
    
    <div class="card-body">
      <h5 class="card-title"><%= name %> </h5>
      <p class="card-text"><%= description %>... </p>
    </div>

    <div class="card-footer">
      <a href="<%= showLink %>" id="left" class="btn btn-primary btn-small d-inline mb-1 favourite-button">See More...</a>

      <form action="<%= removeLink %>" method="POST" class="d-inline">
        <input type="submit" value="Remove" id="right" class="btn btn-danger d-inline btn-small favourite-button">
      </form>
    </div>
    
</div>