<div class="card">
    <!-- TODO Add secondary picture -->
    <% if (picture) { %>
      <img class="card-img-top img-responsive border border-secondary" src="<%= picture %>">
    <% } else {%>
      <img class="card-img-top img-responsive border border-secondary" src="<%= backupPicture %>">
    <% } %> 
    
    <div class="card-body">
      <h5 class="card-title"><%= name %> </h5>
      <p class="card-text"><%= description %>... </p>
      <a href="<%= showLink %>" class="btn btn-primary d-block w-100 mb-1">See More...</a>

      <form action="<%= removeLink %>" method="POST">
        <input type="submit" value="Remove" class="btn btn-danger d-block w-100">
      </form>
    </div>
</div>