<div class="card" style="width: 18rem;">
    <!-- TODO Add secondary picture -->
    <img class="card-img-top img-responsive border border-secondary" src="<%= picture %>">
    <div class="card-body">
      <h5 class="card-title"><%= name %> </h5>
      <p class="card-text"><%= description %>... </p>
      <a href="<%= showLink %>" class="btn btn-primary">See More...</a>

      <form action="<%= removeLink %>" method="POST">
        <input type="submit" value="Remove" class="btn btn-danger">
      </form>
    </div>
</div>