<head>
  <link rel="stylesheet" href="/Stylesheets/CSS/favouriteCard.css">
</head>

<div class="card border-dark favourite">
  <h5 class="card-title mx-auto mt-2"><%= name %> </h5>
  
    <!-- TODO Add secondary picture -->
    <div class="parent">
      <% if (picture) { %>
        <img src="<%=flag%>" alt="" class="image1">
        <img class="card-img-top img-responsive  background-image image2" src="<%= picture %>">
      <% } else {%>
        <img class="card-img-top img-responsive  background-image imageBackup" src="<%= backupPicture %>">
      <% } %> 
    </div>
    
    
    <div class="card-body">
      <div class="container">
        <div class="row mx-auto">
          <!-- <p class="card-text"><%= //description %>... </p> -->
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="w-100"></div>
          <div class="col">Column</div>
          <div class="col">Column</div>
          <div class="w-100"></div>
          <div class="col">Column</div>
          <div class="col">Column</div>
        </div>
      </div>
    </div>

    <div class="card-footer mx-auto">
      <a href="<%= showLink %>" id="left" class="btn btn-primary btn-small d-inline mb-1 favourite-button">See More...</a>

      <form action="<%= removeLink %>" method="POST" class="d-inline">
        <input type="submit" value="Remove" id="right" class="btn btn-danger d-inline btn-small favourite-button">
      </form>
    </div>
    
</div>