<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/Meta/defaultHeadData.ejs") %> 
    <link rel="stylesheet" href="/Stylesheets/CSS/playerResults.css">
</head>
<body>
    <%- include (`../partials/navbar.ejs`) %> 

    <!-- * Num Of Results -->
    <%- include ("../partials/Results/numOfResults.ejs", {data: teamData.teams}) %> 

    <!-- * Results -->
    <% teamData.teams.forEach((team) => { %>
        <%- include ("../partials/Results/Results.ejs", 
        {
            countryFlags:       null,
            link:               `teams`,
            id:                 team.idTeam,  
            sport:              team.strSport,
            picture:            team.strTeamBadge,
            backupPicture:      team.strTeamBadge,
            firstTitle:         team.strTeam,
            secondTitle:        team.strLeague,
            thirdTitle:         team.strStadium,
            description:        team.strDescriptionEN
        }) %>
    <% }) %>  
    <%- include('../partials/footer.ejs') %> 
</body>
</html>