<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ("partials/Meta/defaultHeadData.ejs") %>
		<!-- * -->
		<link rel="stylesheet" href="/Stylesheets/CSS/index.css" />
		<link rel="stylesheet" href="/Stylesheets/CSS/animations.css" />

		<script src="/JavaScript/removeMessage.js"></script>
	</head>
	<body onload="removeMessage()">
		<%- include ("partials/navbar.ejs") %>

		<div class="container">
			<p class="success fade-out" id="message" ><%= successMessage %></p>
			<h1 class="text-center mt-4 mb-0 title mb-3">Welcome to The Football Database!</h1>
			<h4 class="subTitle mt-1 mb-5">The hub of football knowledge</h4>

			<div class="d-block">
				<!-- * PLayer form -->
				<form action="/players" method="POST">
					<label for="" class="mb-2">Search for a player...</label>
					<input
						type="text"
						name="playerName"
						id=""
						class="form-control form-group form-inline"
						required
					/>
					<input
						type="submit"
						value="Submit!"
						class="btn btn-default btn-large btn-outline-dark form-group"
					/>
				</form>

				<!-- * Team form -->
				<form action="/teams" method="POST">
					<label for="" class="mb-2">Search for a team...</label>
					<input
						type="text"
						name="teamName"
						id=""
						class="form-control form-group form-inline"
						required
					/>
					<input
						type="submit"
						value="Submit!"
						class="btn btn-default btn-large btn-outline-dark form-group"
					/>
				</form>
			</div>

			<!-- *Favourites section -->
			<%- include ("partials/favouritesSection.ejs") %>
		</div>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
