<div class="container pt-5">
    <div class="jumbotron ">
        <div class="text mt-2">
            <div class="row mt-2 upper-section">
                <p id="title" class=" pt-0 pb-4 col-6 text-center"><%= title %> </p>
                <a href="<%= altAuthLink %>" id="altAuthLink" class="col-6 text-center mt-1"><%= altAuthText %> </a>
            </div>
            
            <form action="<%= route %> " method="POST">
                <div class="form-group">
                    <label for="username" class="d-block text-left ml-4">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>

                <div class="form-group">
                    <label for="password" class="d-block text-left ml-4">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>

                <p class="error"><%= errorMessage %> </p>
                
                <button type="submit" class="btn btn-primary px-5 mt-5 w-75">Submit!</button>
            </form>
        </div>
    </div>
</div>